body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background: url('backgroundbmi.png') no-repeat center center fixed;
    background-size: cover;
}

#calculator {
    max-width: 400px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
}

#calculate-bmi {
    width: 48%;
}

#bmi-categories {
    width: 45%;
    margin-left: 3%;
}

label {
    display: block;
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
}

button {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#result {
    margin-top: 20px;
}

#output {
    margin-top: 20px;
    font-weight: bold;
}

#tips {
    max-width: 600px;
    margin: 20px auto;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

h2 {
    color: #333;
}

p {
    margin-bottom: 16px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

#bmi-categories p {
    font-weight: normal;
}
